.Station {
    border: 1px solid #283747;
    margin: 0 auto .8rem auto;
    padding: .8rem .5rem;
    border-radius: .2rem;
    height: 2.9rem;
    transition: height .15s ease-out;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.Station_Selected {
    height: 10rem;
    background-color: rgb(236, 235, 235);
}

.MapLink {
    width: fit-content;
    margin: 0 auto;
    padding: .4rem 3rem;
    background-color: #932432;
    border-radius: .2rem;
    font-size: .85rem;
    text-decoration: none;
    color: #f3f3f3;
}

.Station_Name {
    text-decoration: underline;
}

.Station_Info {
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transition: all .1s ease-out;
}

.Station_Info_Fade {
    opacity: 0;
}

.OneLineContent {
    margin-bottom: 8rem;
}

@media (min-width: 769px) {
    .Station {
        width: 35rem;
    }

    .Station:hover {
        background-color: rgb(236, 235, 235);
    }
}

@media (min-width: 1366px) {
    .MapLink {
        cursor: pointer;
    }

}