.Homepage {
    min-height: 100vh;
    background-color: #f3f3f3;
    color: #283747;
    padding: 3.3rem 0;
}

.Header {
    margin: 2rem auto 1rem auto;
}

.SearchBar {
    font-family: 'Montserrat', sans-serif;
    padding: .2rem;
    margin-bottom: .5rem;
}

.StationsList {
    padding: .5rem;
}
